// Colors (global)
$color-white: #FFFFFF;

/* Metier */

$color-new-lighten: #869DA6;
$color-recycle-lighten: #CDD771;
$color-repare-lighten: #FDD761;
$color-recovery-lighten: #C476AE;

$color-new: #547481;
$color-recycle: #B8C635;
$color-repare: #FDC71F;
$color-recovery: #AB3D8C;

$color-new-darken: #3A505A;
$color-recycle-darken: #818A25;
$color-repare-darken: #B18B15;
$color-recovery-darken: #782A62;

$color-new-overlay: rgba(84, 116, 129, 0.6);
$color-recycle-overlay: rgba(69, 72, 35, 0.6);
$color-repare-overlay: rgba(120, 104, 53, 0.6);
$color-recovery-overlay: rgba(89, 40, 75, 0.6);


/* Web Environment */

$color-action: #F2A544;
$color-content: #282828;
